In [0]:
import pathlib
import pandas as pd
import json
import re
from tqdm import tqdm
import numpy as np

In [0]:
df_pan2 = pd.read_csv("./pan_v2.csv").drop( ['Unnamed: 0','Set','Categorie Montage','Dossier Patient','Session','File N°','exam_duration','Pan_vs_SWT','Pan_vs_XQRS','interval_index','interval_start_time','label'],axis=1)
df_swt2 = pd.read_csv("./swt_v2.csv").drop(['Unnamed: 0','Set','Categorie Montage','Dossier Patient','Session','File N°','exam_duration','Pan_vs_SWT','SWT_vs_XQRS','interval_index','interval_start_time','label'], axis=1)
df_xqrs2 = pd.read_csv("./xqrs_v2.csv").drop(['Unnamed: 0','Set','Categorie Montage','Dossier Patient','Session','File N°','exam_duration','SWT_vs_XQRS','Pan_vs_XQRS','interval_index','interval_start_time','label'], axis=1)

In [0]:
df_swt2

        Patient    mean_nni       sdnn  ...       sd1        sd2  ratio_sd2_sd1
0          8643         NaN        NaN  ...       NaN        NaN            NaN
1          8643         NaN        NaN  ...       NaN        NaN            NaN
2          8643  600.043403  48.993541  ...       NaN        NaN            NaN
3          8643  636.827257  25.195199  ...       NaN        NaN            NaN
4          8643  552.191840  57.491179  ...       NaN        NaN            NaN
...         ...         ...        ...  ...       ...        ...            ...
305517     4671  525.263158   1.910268  ...  1.443710  12.153221       8.418049
305518     4671  523.368421   1.498537  ...  1.340153  11.080635       8.268186
305519     4671  527.157895   1.675416  ...  1.255105  11.414606       9.094540
305520     4671  554.888889  11.297521  ...  1.099362   7.011329       6.377635
305521     4671  551.294118   3.804023  ...  1.290496  17.063231      13.222228

[305522 rows x 28 columns]

In [0]:
df_pan2

        Patient    mean_nni       sdnn  ...       sd1        sd2  ratio_sd2_sd1
0          8643         NaN        NaN  ...       NaN        NaN            NaN
1          8643         NaN        NaN  ...       NaN        NaN            NaN
2          8643         NaN        NaN  ...       NaN        NaN            NaN
3          8643         NaN        NaN  ...       NaN        NaN            NaN
4          8643         NaN        NaN  ...       NaN        NaN            NaN
...         ...         ...        ...  ...       ...        ...            ...
265076     4671  525.263158   1.910268  ...  1.392894  11.920583       8.558139
265077     4671  523.789474   0.917663  ...  1.311272  11.217870       8.554954
265078     4671  528.210526   2.485043  ...  1.196305  11.496603       9.610095
265079     4671  554.888889  11.297521  ...  1.162520   7.103284       6.110245
265080     4671  551.764706   4.789695  ...  1.397737  16.965595      12.137905

[265081 rows x 28 columns]

In [0]:
df_xqrs2

        Patient    mean_nni       sdnn  ...       sd1        sd2  ratio_sd2_sd1
0          8643         NaN        NaN  ...       NaN        NaN            NaN
1          8643  537.109375  56.359305  ...       NaN        NaN            NaN
2          8643  602.213542  51.251884  ...       NaN        NaN            NaN
3          8643  564.453125  33.125314  ...       NaN        NaN            NaN
4          8643         NaN        NaN  ...       NaN        NaN            NaN
...         ...         ...        ...  ...       ...        ...            ...
308940     4671  525.473684   1.982379  ...  1.443710  11.837678       8.199485
308941     4671  524.000000   0.000000  ...  1.340153  10.930383       8.156070
308942     4671  528.000000   2.981424  ...  1.134461  11.098341       9.782922
308943     4671  555.111111  11.023445  ...  1.032347   6.868603       6.653388
308944     4671  551.529412   4.445751  ...  1.497316  16.957097      11.324993

[308945 rows x 28 columns]

In [0]:
list_features_non_linear = [
'csi',
'cvi',
'Modified_csi',
'sampen',
'sd1',
'sd2',
'ratio_sd2_sd1',
'label']

list_features_freq=[
'lf',
'hf',
'vlf',
'lf_hf_ratio']

list_features_temp=[
'mean_nni',
'sdnn',
'sdsd',
'nni_50',
'pnni_50',
'nni_20',
'pnni_20',
'rmssd',
'median_nni',
'range_nni',
'cvsd',
'cvnni',
'mean_hr',
'max_hr',
'min_hr',
'std_hr']

list_features = list_features_non_linear+list_features_freq+list_features_temp

list_features_control =[
    'mean_nni',
    'csi',
    'hf'
]

In [0]:
df_pan2_patient = df_pan2.groupby(['Patient'],as_index=False).mean()
df_swt2_patient =  df_swt2.groupby(['Patient'],as_index=False).mean()
df_xqrs2_patient = df_xqrs2.groupby(['Patient'],as_index=False).mean()

In [0]:
df_xqrs2_patient

     Patient     mean_nni        sdnn  ...        sd1         sd2  ratio_sd2_sd1
0          2   689.094620   20.214871  ...  11.423463   39.825812       4.037827
1         17   707.162115   13.878511  ...   6.784225   42.215218       6.103743
2         21   696.028690   22.806232  ...  10.523340   43.435157       4.303563
3         32   993.491279   67.479057  ...  35.572919  130.733513       3.676932
4         54  1135.040404   14.443546  ...   7.102295   30.564006       4.111332
..       ...          ...         ...  ...        ...         ...            ...
598    13182   452.621128  107.964996  ...   0.000000    0.000000            NaN
599    13336   804.533667   30.412083  ...  14.950376   60.681075       4.144689
600    13345     0.000000         NaN  ...        NaN         NaN            NaN
601    13400   571.832390   34.707421  ...  15.507868   71.137202       5.803596
602    13407   943.341966   50.321899  ...  27.616145  101.579020       3.636026

[603 rows x 28 columns]

In [0]:
df_pan2_patient.to_csv('./pan2_patient.csv')

In [0]:
df_swt2_patient.to_csv('./swt2_patient.csv')

In [0]:
df_xqrs2_patient.to_csv('./xqrs2_patient.csv')

In [0]:
df_pan2_patientMSTD = df_pan2.groupby(['Patient'],as_index=False).agg([np.mean,np.std])
df_swt2_patientMSTD =  df_swt2.groupby(['Patient'],as_index=False).agg([np.mean,np.std])
df_xqrs2_patientMSTD = df_xqrs2.groupby(['Patient'],as_index=False).agg([np.mean,np.std])

In [0]:
df_pan2_patientMSTD

           mean_nni                    sdnn  ...        sd2 ratio_sd2_sd1
               mean         std        mean  ...        std          mean       std
Patient                                      ...
2        693.637591  129.355436   21.063893  ...  34.873449      3.707411  1.496406
77       667.779902   74.662955   17.863944  ...  22.232340      4.100878  1.459307
107      765.697746   29.943443   26.229901  ...  13.630844      4.261284  0.784969
143      607.178423   49.179315   74.346817  ...  20.738122      3.716811  0.527525
148      641.222128   25.423834    8.837316  ...  10.195861      6.904118  2.745870
...             ...         ...         ...  ...        ...           ...       ...
13112    628.402507   86.198260   38.071883  ...  47.667296      4.048540  2.191076
13145    725.832916  151.670851   30.274507  ...  48.320550      4.351166  1.820279
13182    377.035714  533.209021  142.662978  ...        NaN           NaN       NaN
13400    217.140172  228.345734   25.314719  ...        NaN           NaN       NaN
13407    881.499160  258.000810   66.239717  ...  72.965425      3.138273  1.282986

[458 rows x 54 columns]

In [0]:
df_pan2_patientMSTD.to_csv('./pan2_patientMSTD.csv')

In [0]:
df_swt2_patientMSTD.to_csv('./swt2_patientMSTD.csv')

In [0]:
df_xqrs2_patientMSTD.to_csv('./xqrs2_patientMSTD.csv')

In [0]:
df_test = pd.read_csv("xqrs_v2.csv")

In [0]:
df_test['crisis_frequency'] = df_test['label'].apply(lambda x: 1 if (x!=0) else 0 )

In [0]:
df_test

        Unnamed: 0    Set  ... label  crisis_frequency
0                0  train  ...   0.0                 0
1                1  train  ...   0.0                 0
2                2  train  ...   0.0                 0
3                3  train  ...   0.0                 0
4                4  train  ...   0.0                 0
...            ...    ...  ...   ...               ...
308940      308940    dev  ...   0.0                 0
308941      308941    dev  ...   0.0                 0
308942      308942    dev  ...   0.0                 0
308943      308943    dev  ...   0.0                 0
308944      308944    dev  ...   0.0                 0

[308945 rows x 41 columns]

In [0]:
df_frequency = df_test.groupby(["Patient"]).crisis_frequency.mean()

In [0]:
df_finalxqrs = pd.merge(df_xqrs2_patient, df_frequency, on='Patient')

In [0]:
df_finalxqrs

     Patient     mean_nni  ...  ratio_sd2_sd1  crisis_frequency
0          2   689.094620  ...       4.037827          0.231270
1         17   707.162115  ...       6.103743          0.008065
2         21   696.028690  ...       4.303563          0.000000
3         32   993.491279  ...       3.676932          0.008130
4         54  1135.040404  ...       4.111332          0.007692
..       ...          ...  ...            ...               ...
598    13182   452.621128  ...            NaN          0.000000
599    13336   804.533667  ...       4.144689          0.005917
600    13345     0.000000  ...            NaN          0.000000
601    13400   571.832390  ...       5.803596          0.023866
602    13407   943.341966  ...       3.636026          0.060403

[603 rows x 29 columns]

In [0]:
df_finalxqrs.to_csv('./finalxqrs.csv')

In [0]:
df_test1 = pd.read_csv("pan_v2.csv")

In [0]:
df_test1['crisis_frequency'] = df_test1['label'].apply(lambda x: 1 if (x!=0) else 0 )

In [0]:
df_frequency1 = df_test1.groupby(["Patient"]).crisis_frequency.mean()

In [0]:
df_finalpan = pd.merge(df_pan2_patient, df_frequency1, on='Patient')

In [0]:
df_finalpan

     Patient    mean_nni  ...  ratio_sd2_sd1  crisis_frequency
0          2  693.637591  ...       3.707411          0.231270
1         77  667.779902  ...       4.100878          0.004525
2        107  765.697746  ...       4.261284          0.007143
3        143  607.178423  ...       3.716811          0.000000
4        148  641.222128  ...       6.904118          0.007194
..       ...         ...  ...            ...               ...
453    13112  628.402507  ...       4.048540          0.003165
454    13145  725.832916  ...       4.351166          0.043629
455    13182  377.035714  ...            NaN          0.477912
456    13400  217.140172  ...            NaN          0.066667
457    13407  881.499160  ...       3.138273          0.058333

[458 rows x 29 columns]

In [0]:
df_test2 = pd.read_csv("swt_v2.csv")

In [0]:
df_test2['crisis_frequency'] = df_test2['label'].apply(lambda x: 1 if (x!=0) else 0 )

In [0]:
df_frequency2 = df_test2.groupby(["Patient"]).crisis_frequency.mean()

In [0]:
df_finalswt = pd.merge(df_swt2_patient, df_frequency2, on='Patient')

In [0]:
df_finalswt

     Patient     mean_nni  ...  ratio_sd2_sd1  crisis_frequency
0          2   703.418330  ...       3.616530          0.325714
1         17   708.739993  ...       6.356871          0.008065
2         21   694.252123  ...       4.314849          0.000000
3         32  1002.052501  ...       3.860206          0.008130
4         54  1134.827086  ...       4.107421          0.007692
..       ...          ...  ...            ...               ...
599    13182   123.703239  ...       2.870940          0.037037
600    13336    43.120098  ...       3.862348          0.005917
601    13345   211.711084  ...       2.128888          0.037313
602    13400   589.902430  ...       6.769411          0.023095
603    13407   925.511985  ...       3.683597          0.060914

[604 rows x 29 columns]

In [0]:
df_finalpan.to_csv('./finalpan.csv')

In [0]:
df_finalswt.to_csv('./finalswt.csv')

In [0]:
df_finalswtMSTD = pd.merge(df_swt2_patientMSTD, df_frequency2, on='Patient')

/usr/local/lib/python3.6/dist-packages/pandas/core/reshape/merge.py:618: UserWarning: merging between different levels can give an unintended result (2 levels on the left, 1 on the right)
  warnings.warn(msg, UserWarning)

In [0]:
df_finalpanMSTD = pd.merge(df_pan2_patientMSTD, df_frequency1, on='Patient')

/usr/local/lib/python3.6/dist-packages/pandas/core/reshape/merge.py:618: UserWarning: merging between different levels can give an unintended result (2 levels on the left, 1 on the right)
  warnings.warn(msg, UserWarning)

In [0]:
df_finalxqrsMSTD = pd.merge(df_xqrs2_patientMSTD, df_frequency, on='Patient')

/usr/local/lib/python3.6/dist-packages/pandas/core/reshape/merge.py:618: UserWarning: merging between different levels can give an unintended result (2 levels on the left, 1 on the right)
  warnings.warn(msg, UserWarning)

In [0]:
df_finalxqrsMSTD

         (mean_nni, mean)  ...  crisis_frequency
Patient                    ...
2              689.094620  ...          0.231270
17             707.162115  ...          0.008065
21             696.028690  ...          0.000000
32             993.491279  ...          0.008130
54            1135.040404  ...          0.007692
...                   ...  ...               ...
13182          452.621128  ...          0.000000
13336          804.533667  ...          0.005917
13345            0.000000  ...          0.000000
13400          571.832390  ...          0.023866
13407          943.341966  ...          0.060403

[603 rows x 55 columns]

In [0]:
df_finalswtMSTD.to_csv('./finalswtMSTD.csv')

In [0]:
df_finalpanMSTD.to_csv('./finalpanMSTD.csv')

In [0]:
df_finalxqrsMSTD.to_csv('./finalxqrsMSTD.csv')